$blue: #41c7c7;
$blue2: #49B7BE; // mobile
$blue-faded: #b3d8da;

$darkblue: #2e3092;
$darkblue2: #5757ec;
$darkblue3: #3c52d1;


$pink: #ec2f95;
$pink-faded: #e0a4bc;

$red: #FE6A6A;

$white: white;

$yellow: #fbf34c;
$yellow-faded: #fffec7;

$purple: #4500EE;
$purple-faded: #7D7494;

$grey: #e8e8e8;
$grey2: #dadada;
$grey3: #cecece;
$mediumgrey: #788080;
$darkgrey: #344c4c;
$beige: #fffef0;
$pencil: #a7b1b3;

$interest-dark: $blue;
$interest-light: $blue-faded;
$satisfaction-dark: $pink;
$satisfaction-light: $pink-faded;
$never-heard: $grey;

$interest-dark: $yellow;
$interest-light: $yellow-faded;
$satisfaction-dark: $purple;
$satisfaction-light: $purple-faded;
$never-heard: $grey;

$active-color: rgb(33, 198, 231);
$secondary-color: #EC2F95;
$hover-color: #EC2F95;
$text-color: $darkblue3;
$lighter-text-color: $mediumgrey;
$light-border-color: $grey3;
$border-color: $darkblue3;
$bg-color: #D9DEDF;
$highlight-color: $yellow-faded;