/*

Layout

*/

.home-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*

Logo

*/

.home-logo{
  position: relative;
}

.logo-text{
  fill: $darkblue;
  font-style: italic;
  font-size: 8rem;
  @include font-light;
}

/*

Intro

*/

.Intro{
  font-size: $large-font;
  margin-bottom: $spacing*2;
  p:first-child{
    font-size: 1.8rem;
  }
}

/*

Take Survey

*/

.TakeSurvey{
  @include flex-center;
  flex-direction: column;
}

.TakeSurvey__Button{
  background: $active-color;
  font-size: $largest-font;
  padding: $spacing;
  font-style: italic;
  &, &:link{
    color: $white;
  }
  &:hover{
    background: white;
    color: $active-color;
    text-decoration: none;
  }
}

.TakeSurvey__Note{
  font-size: $smaller-font;
  text-align: center;
  max-width: 400px;
  margin: $spacing/1.5 0 0 0;
}

/*

About

*/
.About__Authors{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $spacing*2;
}
.About__Author__Name{
  margin-bottom: $spacing/4;
}
.About__Author__Bio{
  font-size: $medium-font;
}


.Footer{
  text-align: center;
  font-size: $medium-font;
  margin: 0;
}