.logo{
  img{
    display: block;
    width: 100%;
  }
}

.home-take-survey{
  background: $secondary-color;
  position: relative;
  top: -120px;
  font-size: $largest-font;
  padding: $spacing;
  font-style: italic;
  &, &:link{
    color: $white;
  }
}

.about__authors{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $spacing;
}