.logo{
  img, svg{
    display: block;
    width: 100%;
    width: 1200px;
  }
}

.home-take-survey{
  background: $secondary-color;
  position: relative;
  top: -120px;
  font-size: $largest-font;
  padding: $spacing;
  font-style: italic;
  &, &:link{
    color: $white;
  }
}

.about__authors{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $spacing;
}


// $steps: 4;
// $duration: 500ms;
// $wait: 2000ms;
// $animationRatio: $duration/($duration + $wait);

// @mixin blink{
//   @keyframes blink {
//     0% {
//       stroke-width:10;
//     }
//     #{100 * $animationRatio}% {
//       stroke-width:2;
//     }
//     100% {
//       stroke-width:2;
//     }
//   }
// }

// // @keyframes blink {
// //   0% {
// //     stroke-width:10;
// //   }
// //   25% {
// //     stroke-width:2;
// //   }
// // }

// @include blink;

// @mixin stepDelay($step) {
//   animation-delay: #{$duration/$steps * ($step - 1)};
// }
// .illustration{
//   .circle{
//     animation-duration: $duration + $wait;
//     animation-iteration-count: infinite;
//     animation-timing-function: steps(1);
//   }
//   .circle{
//     // animation-name: blink;
//   }
//   #hl1{  
//    @include stepDelay(3);
//   }
//   #hl2{
//     @include stepDelay(1);
//   }
//   #hl3{
//     @include stepDelay(3);
//   }
//   #c1a, #c2a, #c3a{
//     @include stepDelay(1);
//   }
//   #c1b, #c2b, #c3b{
//     @include stepDelay(2);
//   }
//   #c1c, #c2c, #c3c{
//     @include stepDelay(3);
//   }
//   #c1d, #c2d, #c3d{
//     @include stepDelay(4);
//   }
//   // #vl5{
//   //   @include stepDelay(1);
//   // }
//   // #vl4, #vl6{
//   //   @include stepDelay(1);
//   // }
//   // #vl3, #vl7{
//   //   @include stepDelay(2);
//   // }

//   // #vl2, #vl8{
//   //   @include stepDelay(3);
//   // }
//   // #vl1, #vl9{
//   //   @include stepDelay(4);
//   // }

// }

// delay to wait in between animation cycles
$wait: 4s;
@mixin offState{
  // opacity: 0.5;
  stroke-width: 2;
}
@mixin onState{
  // opacity: 1;
  stroke-width: 10;
}
@mixin backAndForth($prefix, $count, $duration, $delay) {
  $animationRatio: $duration/($duration + $wait);
  $steps: $count * 2 - 1;
  $stepDuration: $duration/$steps;

  @for $i from 1 to ($count+1) {
    $itemName: "#{$prefix}#{$i}";
    $firstOccurence: $i;
    $secondOccurence: $steps - $i + 1;
    $firstOccurencePercent: 100 * $firstOccurence/$steps;
    $secondOccurencePercent: 100 * $secondOccurence/$steps;
    $stepDurationPercent: 100/$steps;
    @warn "----------------------";
    @warn "$itemName: #{$itemName}";
    @warn "$i: #{$i}";
    @warn "$firstOccurence: #{$firstOccurence}";
    @warn "$secondOccurence: #{$secondOccurence}";
    @warn "$firstOccurencePercent: #{$firstOccurencePercent}";
    @warn "$secondOccurencePercent: #{$secondOccurencePercent}";
    @warn "$stepDurationPercent: #{$stepDurationPercent}";
    @keyframes #{$itemName} {
      0% {
        @include offState;
      }
      #{$firstOccurencePercent * $animationRatio}% {
        @include onState;
      }
      #{($firstOccurencePercent + $stepDurationPercent) * $animationRatio}% {
        @include offState;
      }
      // last line does not have a second occurence
      @if $i != $count {
        #{$secondOccurencePercent * $animationRatio}% {
          @include onState;
        }
        #{($secondOccurencePercent + $stepDurationPercent) * $animationRatio}% {
          @include offState;
        }
      }
      100%{
        stroke-width:2;
      }
    }
    .#{$itemName}{
      animation-duration: $duration + $wait;
      animation-iteration-count: infinite;
      animation-timing-function: steps(1);
      animation-name: $itemName;
      animation-delay: $delay;
    }
  }
}

@keyframes drawMe {
  to {
    stroke-dashoffset: 0;
  }
}

@mixin drawMe($prefix, $count, $duration, $interval, $delay) {
  .#{$prefix} {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;      
    animation-name: drawMe;
    animation-duration: $duration;
  }
  @for $i from 0 to $count {
    $itemName: "#{$prefix}#{$i + 1}";
    .#{$itemName}{
      animation-delay: $interval * $i + $delay;
    }
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@mixin appear($className, $duration, $delay) {
  .#{$className} {
    opacity: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;      
    animation-name: appear;
    animation-duration: $duration;
    animation-delay: $delay;
  }
}

// @include drawMe("hl", 100, 200ms, 100ms, 0ms);
// @include drawMe("vl", 100, 200ms, 100ms, 500ms);

// @include drawMe("dla", 5, 200ms, 100ms, 1000ms);
// @include drawMe("dlb", 5, 200ms, 100ms, 1500ms);
// @include drawMe("cc", 10, 200ms, 100ms, 2000ms);
// @include drawMe("csa", 10, 200ms, 100ms, 2500ms);
// @include drawMe("csb", 10, 200ms, 100ms, 3000ms);
// @include drawMe("letter", 3, 2000ms, 1000ms, 3500ms);
// @include drawMe("crosshatch", 3, 3000ms, 1000ms, 4000ms);

@include appear("theStateOf", 300ms, 6600ms);
@include appear("year", 300ms, 6800ms);


// @include backAndForth("dl", 5, 900ms, 0ms);
// @include backAndForth("vl", 5, 1s, 0ms);

// @include backAndForth("c", 4, 600ms, 300ms);
// @include backAndForth("s", 4, 600ms, 600ms);
// @include backAndForth("ss", 4, 600ms, 900ms);
// @include backAndForth("hl", 3, 900ms, 3000ms);

// // handle last vertical line separately
// @keyframes vl#{$vlCount} {
//   0%{

//   }
//   #{}% {

//   }
//   #{}% {

//   }
//   100% {

//   }
// }
// #vl#{$vlCount}{
    
// }