.home-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  height: 100vh;
}

.home-logo{
  @include flex-center;
  flex-direction: column;
  .logo{
    transform: scale(2.2);
  }
}

.home-content{
  overflow-y: scroll;
  padding: $spacing*3;
}