.Newsletter {
    // border: 1px solid $border-color;
    // padding: $spacing/2 $spacing/2;
    // margin-bottom: $spacing * 2;
    @include flex-center;
    flex-direction: column;
    form {
        flex: 1;
        width: 100%;
        @include medium-large {
            display: flex;
        }
        margin: 0;
    }
}

.Newsletter__Email {
    @include small {
        margin-bottom: $spacing/2;
    }
    @include font-regular;
    display: block;
    padding: $spacing/2 $spacing/2;
    border: none;
    margin-right: $spacing/2;
    flex-grow: 1;
    width: 100%;
    &:focus {
        outline: none;
        border-color: $secondary-color;
    }
    .Newsletter--loading & {
        background: $grey2;
    }
}
.Newsletter__Button {
    min-width: 140px;
    display: block;
    @include small {
        width: 100%;
    }
}
.Newsletter__Hidden {
    display: none;
}
.Newsletter__Message {
    @include border;
    width: 100%;
    padding: $spacing;
    text-align: center;
    @include font-bold;
}
.Newsletter__Error {
    border-color: $red;
    color: $red;
    margin-top: $spacing;
}
.Newsletter__Success {
    border-color: $pink;
    color: $pink;
}
.Newsletter__Heading {
    margin-bottom: $spacing/2;
}
.Newsletter__Description {
    margin-bottom: $spacing;
}
