# Logs
logs
*.log

# Captures
# static/images/captures

# Builds
public

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Cache
.cache
.sass-cache/
.gatsby-context.js

# IDE
.idea
.vscode

# OSX
.DS_Store

# Secrets
.env

# docker volumes
esdata