
$root-size-mobile: 15px;
$root-size: 19px;

$smaller-font: 0.7rem;
$small-font: 0.8rem;
$smallish-font: 0.9rem;
$medium-font: 1rem;
$large-font: 1.1rem;
$larger-font: 1.3rem;
$largest-font: 1.5rem;

$light: 100;
$medium: 300;
$bold: 500;

@mixin font-light{
  font-weight: $light;
}

@mixin font-regular{
  font-weight: $medium;
}

@mixin font-bold{
  font-weight: $bold;
}

@mixin primary-font{
  font-family: 'IBM Plex Mono', 'Space Grotesk', 'Roboto Slab', sans-serif;
  font-weight: 300;
}
@mixin secondary-font{
  font-family: 'IBM Plex Mono', 'Space Grotesk', 'Roboto Slab', sans-serif;
  font-weight: 500;
}

pre, code{
  @include secondary-font;
}

strong{
  font-weight: 500;
}