.author{
}
.author-main{
  @include crosshatchBg;
}
.author-inner{
  background: $beige;
  position: relative;
  z-index: 10;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: $spacing $spacing;
  @include medium-large{
    display: flex;
    align-items: center;
  }
}
.author-avatar{
  flex: 1;
  margin-right: $spacing;
  @include small{
    margin-bottom: $spacing/2;
  }
  a, img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }
}
.author-name{
  margin-bottom: 0;
}
.author-bio{
  margin-bottom: -$spacing;
}