html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: $bg-color;
  color: $text-color;
  padding: 0;
  font-feature-settings: "liga" 0;
  line-height: 1.5;
  @include primary-font;
  @include small{
    font-size: $root-size-mobile;
  }
  @include large{
    font-size: $root-size;
    border: 10px solid $active-color;
    padding: 1px;
    min-height: 100vh;
  }
}


h1, h2, h3, h4, h5, h6{
  @include secondary-font;
  margin: 0 0 $spacing 0;
}

p, ul, ol{
  margin: 0 0 $spacing 0;
  @include small{
    line-height: 1.6;
  }
  @include medium-large{
    line-height: 1.8;
  }
}

@keyframes blinkfast {
  from {
    color: $active-color;
  }
  50% {
    color: $hover-color;
  }
  to {
    color: $active-color;
  }
}

a{
  text-decoration: none;
  &, &:link, &:visited, &:active, &:focus{
    @include small{
      color: $active-color;
    }
    @include medium-large{
      color: $active-color;
    }
  }
  &:hover{
    // color: $hover-color;
    animation-name: blinkfast;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.conclusion__byline{
  text-align: right;
  display: block;
  @include font-bold;
}