
.content{
  // max-width: 600px;
  // width: 100%;
}

.logo{
  max-width: 700px;
    margin: 0 auto $vmargin*1.5 auto;
  img{
    display: block;
    width: 100%;
    margin: 0;
  }
}

.bubbles{
  max-width: 1000px;
  margin: 0 auto;
  @include medium-large{
    display: flex;
  }
  // flex-direction: column;
  margin-bottom: $vmargin*1.5;
}
.bubble{
  @include small-medium{
    font-size: $medium-font;
    width: 100%;
  }
  @include large{
    font-size: $largest-font;
    width: 500px;
    height: 68px;
  }
  line-height: 1;
  position: relative;
  margin: 0;
  white-space: nowrap;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  img{
    margin: 0;
    display: block;
    width: 100%;
  }
  span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    @include small-medium{
      margin-top: -2px;
    }
    @include large{
      margin-top: -5px;
    }
  }
  &.bubble-great{
    @include small-medium{
      // left: -$hmargin*6;
      align-self: flex-start;
      span{
        margin-left: 5px;   
      }
    }
    @include large{
      span{
        padding-left: 15px;
      }
    }
    color: $blue;
    margin-bottom: $vmargin*1.5;
    margin-right: $hmargin*2;
  }
  &.bubble-mess{
    margin-top: $vmargin;
    @include small-medium{
      // right: -$hmargin*6;
      align-self: flex-end;
      span{
        margin-left: -5px;
      }
    }
    @include large{
      span{
        padding-right: 15px;
      }
    }
    color: $pink; 
  }
}

.intro{
  position: relative;
  padding-bottom: $vmargin*3;
  margin-bottom: $vmargin*5;
  p{
    &:first-child{
      @include small-medium{
        font-size: $large-font;
      }
      @include large{
        font-size: $larger-font;
      }
    }
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  h4{
    padding: 10px;
    background: $grey;
  }
  .view-results, .take-survey{
    position: absolute;
    bottom: -87px;
    // left: 50%;
    // transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    right: 0;
    .button{
      margin-bottom: 10px;
      width: 250px;
      &:link, &:visited{
        background: $beige;
      }
      &:active, &:hover{
        background: $pink;
      }
      position: relative;
    }
  }
  .take-survey-note{
    max-width: 400px;
    font-size: $smaller-font;
    text-align: center;
  }
}

.home-footer{
  text-align: center;
}

.footer{
  border-top: 1px solid $blue;
  padding-top: $vmargin*3;
  font-size: 0.8rem;
  text-align: center;
}

.comments{
  // @include flex-center;
  // flex-direction: column;
}
.section-heading{
  text-align: center;
}
.comment{
  @include crosshatchBg();
  max-width: 600px;
  margin: 0 auto;
}
.comment-inner{
  text-align: center;
  margin-bottom: $vmargin;
  font-size: $large-font;
  position: relative;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: $vmargin $hmargin;
  background: $white;
  z-index: 10;
  @include flex-center;
  min-height: 190px;

  span{
    display: block;
    position: relative;
    z-index: 20;
  }
  &:before, &:after{
    position: absolute;
    display: inline-block;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    z-index: 15;
    color: $blue;
  }
  &:before{
    content: "“";
    top: -20px;
    left: -15px;
  }
  &:after{
    content: "”";
    bottom: -60px;
    right: -15px;
  }
}
.comment-next{
  max-width: 100px;
  cursor: pointer;
  margin: 0 auto;
  line-height: 1;
}

.stats-heading{
  text-align: center;
}
.stats-inner{
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  @include medium-large{
    display: flex;
    justify-content: space-between;
  }
}
.stat{
  text-align: center;
  flex: 1 1 0;
  @include small{
    margin-bottom: $vmargin;
  }
}
.stat-count{
  @include secondary-font;
  font-size: 3rem;
  color: $pink;
}
.stat-text{

}
.results-2016{
  text-align: center;
  .or{
    margin-bottom: $vmargin;
  }
  .results-2016-link{
    @include secondary-font;
    font-size: $large-font;
  }
}