.nav{
  
  position: sticky;
  top: 10px;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    margin-bottom: $spacing/2;
  }
}

.nav-page{
  white-space: nowrap;
  font-size: $large-font;
  margin: 0;
}

.nav-subpages{
  
}

.nav-subpage{
  display: inline-block;
  margin-right: $spacing/2;
  font-size: $medium-font;
  &, &:link, &:visited{
    color: $text-color;
  }
}

.nav-subpage-active{
  @include font-bold;
}