.Legends {
    font-size: 12px;
    margin: $spacing 0;
}

.Legends__Inner {
    display: flex;
    justify-content: space-between;
    border: 1px dashed $light-border-color;
    border-radius: 3px;
    padding: $spacing * 1.5;
}
.Legends__Item {
    margin-left: $spacing*1.5;
    display: inline-flex;
    align-items: center;
    flex: 1;
}

.Legends__Item:first-child {
    margin-left: 0;
}

.Legends__Item__Chip {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 9px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*\
  Vertical mode
\*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/
.Legends--vertical .Legends__Inner {
    flex-direction: column;
}

.Legends--vertical .Legends__Item {
    margin-left: 0;
}
