.Legends {
    font-size: 12px;
    margin: $spacing 0;
}

.Legends__Inner{

    display: flex;
    justify-content: space-between;
    border: 1px dashed $light-border-color;
    border-radius: 3px;
    padding: $spacing*2;
}
.Legends__Item {
    margin-left: $spacing*1.5;
    display: inline-flex;
    align-items: center;
}

.Legends__Item:first-child {
    margin-left: 0;
}

.Legends__Item__Chip {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 9px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*\
  Vertical mode
\*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/
.Legends--vertical {
    flex-direction: column;
}

.Legends--vertical .Legends__Item {
    margin-left: 0;
}

/*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*\
  Libraries
\*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/

.others-wrapper{
    display: flex;
    .libraries{
    }
    .chart-wrapper{
        flex: 1;
    }
}

.libraries{
    font-size: $smaller-font;

}
.libraries-item{
    position: relative;
}
.libraries-item-link{
    display: block;
    &.enabled{
        cursor: pointer;
        color: $active-color;
        @include font-bold;
    }
}

.libraries-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0;
    .libraries-item-link{
        white-space: nowrap;
        text-align: right;
    }
    .library-tooltip{

    }
}
.libraries-horizontal{


    display: flex;
    align-items: center;
    justify-content: space-between;
    // note: 19px is half the width of one chart bar
    @include small{
        padding: 0 calc(#{$spacing} + 19px);
    }
    @include medium-large{
        padding: 0 calc(#{$spacing*6} + 19px);
    }
    margin-bottom: $spacing*2;

    .libraries-item-link{
        position: absolute;
        width: 70px;
        left: -35px;
        text-align: center;
    }
}
.library-tooltip{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    z-index: 100;
    display: none;
    .libraries-item:hover &{
        display: block;
    }
    .toolip-top-zone{
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -20px;
        height: 30px;
        width: 40px;
        z-index: 100;
    }
    .tooltip-inner{
        border-radius: 3px;
        border: 1px solid $border-color;
        padding: $spacing;
        background: $white;
        position: relative;
    }
    .tooltip-inner{

        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 10px;
            margin-left: -10px;
        }
        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: $border-color;
            border-width: 11px;
            margin-left: -11px;
        }
    }
}