.page-title-header{
  text-align: center;
  display: block;
  margin-bottom: $spacing;
  font-size: $medium-font;
}
.page-title{
  margin: 0 0 $spacing*2 0;
  // box-shadow: 10px 10px 0 0 $grey;
  position: relative;
  border: 1px solid $border-color;
  font-size: $larger-font;
  .inner{
    padding: $spacing;
    text-align: center;
    background: $bg-color;
    display: block;
    z-index: 10;
    position: relative;
  }
  @include crosshatchBg;
}


.page-title-contents{
  text-align: center;
  margin: 0;
  line-height: 1;
  @include small-medium{
    margin-bottom: $spacing/2;
  }
  @include large{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.page-title-main{
  margin-bottom: $spacing/1.5;
  @include small-medium{
    font-size: $large-font;
    line-height: 1.4;
  }
  @include large{
    font-size: $largest-font;
  }
}
.page-title-author{
  font-size: $medium-font;
  margin: 0;
  @include primary-font;
  font-weight: $medium;
  @include flex-center;
  img, span, a{
    display: block;
  }
  .by{
    font-style: italic;
    margin-right: 6px;
  }
}
.page-title-avatar{
  border-radius: 100%;
  height: 24px;
  width: 24px;
  margin-right: 6px;
}