.pagination{
  border-top: 1px solid $border-color;
  padding-top: 3px;

  border-bottom: 1px solid $border-color;
  padding-bottom: 3px;
  
  margin-bottom: $spacing*4;

}
.pagination-inner{
  border-top: 1px solid $border-color;
  padding-top: $spacing*2;

  border-bottom: 1px solid $border-color;
  padding-bottom: $spacing*2;


  @include medium-and-up{
    @include flex-center;
    justify-content: space-between;
  }
}
.pagination-link{
  display: block;
  @include secondary-font;
  white-space: nowrap;
  @include small{
    font-size: $small-font;
  }
  @include medium-large{
    font-size: $medium-font;
    min-width: 270px;
  }
}
.pagination-previous{
  @include small-medium{
    text-align: center;
    margin-bottom: $spacing/2;
  }
  @include large{
    text-align: left;
  }
}
.pagination-next{
  @include small-medium{
    text-align: center;
  }
  @include large{
    text-align: right;
  }
}