.block {
    margin-bottom: $spacing * 4;
    // &:last-child{
    // 	margin: 0;
    // }
}

.block--text {
    margin-bottom: $spacing;
}

.block--chart {
}

.block__description {
    margin-bottom: $spacing;
    p {
        &:last-child {
            margin: 0;
        }
    }
}

.block__title {
    padding-bottom: $spacing/2;
    border-bottom: 1px dashed $border-color;
    margin-bottom: $spacing;
    display: flex;
    align-items: center;
}
.block__title__text{
    margin-bottom: 0;
}
.block__title__share{
    margin-left: $spacing/2;
}