.Block, .block {
    @include small{
        margin-bottom: $spacing*2;
    }
    @include medium-large{
        margin-bottom: $spacing * 4;
    }
    &:last-child{
    	margin: 0;
    }
}

.block--text {
    margin-bottom: $spacing;
}

.block--chart {
}

.block__description {
    margin-bottom: $spacing;
    p {
        &:last-child {
            margin: 0;
        }
    }
}

.Block__Title {
    padding-bottom: $spacing/2;
    border-bottom: 1px dashed $border-color;
    margin-bottom: $spacing;
    display: flex;
    align-items: center;
    @include small {
        justify-content: space-between;
    }
}

.Block__Title__Text {
    margin-bottom: 0;
    @include small {
        opacity: 1;
        transition: all 300ms ease-in;
        .Block__Title--open & {
            opacity: 0.2;
        }
    }
}
.Block__Title__Share {
    margin-left: $spacing/2;
}
