.button {
    background: none;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: $spacing/2 $spacing;
    cursor: pointer;
    display: block;
    text-align: center;
    white-space: nowrap;
    @include font-bold;
    @include secondary-font;
    @include small {
        font-size: $small-font;
    }
    @include medium-large {
        font-size: $medium-font;
    }
    white-space: nowrap;
    &:hover {
        background: $hover-color;
        color: $active-color;
    }
    &.large-button {
        padding: $spacing $spacing;
        font-size: $large-font;
    }
}
