$blue: #41c7c7;
$blueLight: #8be7e7;
$blue2: #49b7be; // mobile
$blue-faded: #b3d8da;

$darkblue: #2e3092;

$pink: #ed387a;
$pink-faded: #e0a4bc;

$red: #fe6a6a;
$redLight: #f89f9f;
$redDark: #ca4040;

$white: white;

$yellow: #fbf34c;
$yellow-faded: #fffec7;

$purple: #4500ee;
$purple-faded: #7d7494;

$lightgrey: #f3f3f3;
$grey: #e8e8e8;
$grey2: #dadada;
$grey3: #cecece;
$mediumgrey: #788080;
$darkgrey: #344c4c;
$beige: #fffef0;

$interest-dark: $blue;
$interest-light: $blue-faded;
$satisfaction-dark: $pink;
$satisfaction-light: $pink-faded;
$never-heard: $grey;

$interest-dark: $yellow;
$interest-light: $yellow-faded;
$satisfaction-dark: $purple;
$satisfaction-light: $purple-faded;
$never-heard: $grey;

$active-color: $blue;
$secondary-color: $red;
$hover-color: $red;
$text-color: $grey;
$text-color-dark: #cecece;
$darker-text-color: $mediumgrey;
$lighter-text-color: $mediumgrey;
$light-border-color: $grey3;
$border-color: $mediumgrey;
$dark-border-color: rgba(255, 255, 255, 0.2);
$dark-border-color: #4D4F4F;
$bg-color: rgb(33, 36, 36);
$light-bg-color: #2E2E2E;
$highlight-color: $yellow-faded;
