.Legends {
    font-size: 12px;
}

.Legends--horizontal {
    display: grid;
    grid-column-gap: $spacing;
    margin: $spacing 0;
}

.Legends--vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include small {
        margin-top: $spacing;
        border: 1px solid $dark-border-color;
        padding: $spacing;
    }
    @include medium {
    }
}

.Legends--withFrame {
    border: 1px dashed $light-border-color;
    border-radius: 3px;
}

.Legends--horizontal.Legends--withFrame {
    padding: $spacing $spacing * 1.5;
}

.Legends--vertical.Legends--withFrame {
    padding: $spacing;
}

.Legends__Item {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1;
}

.Legends__Item:hover {
    background: rgba(255, 255, 255, 0.15);
}

.Legends__Item__Chip {
    display: block;
    margin-right: 12px;
    flex-shrink: 0;
}
