.OpinionSelector {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: none;
    color: $blue;
    border-bottom: 1px dashed $blue;
    border-radius: 0;

    &:focus {
        outline: transparent;
        border-bottom-style: solid;
    }
}
