/*

Block

*/
.Quadrants__Block__Content {
    @include small{

    }
    @include medium-large{
        display: flex;
    }
}
.Quadrants__Block__Chart {
    @include small{

    }
    @include medium-large{
        flex: 0 0 60%;
    }
    font-size: $large-font;
    // @include font-bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    @include font-regular;
}

/*

Chart

*/
.Quadrants__Chart {
    svg {
        display: block;
        margin-top: -20px;
    }
}
.Quadrants__Chart__label {
    font-size: $small-font;
    @include font-regular;
}
.Quadrants__Chart__ticklabel {
    font-size: $smaller-font;
}
.Quadrants__Chart__Legend {
    margin-top: 40px;
}
.Quadrants__Chart__Legend__Title {
    text-align: center;
    display: none;
}
.Quadrants__Chart__Legend__Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    font-size: $small-font;
    border-top: 1px solid $dark-border-color;
    border-left: 1px solid $dark-border-color;
}

.Quadrants__Chart__Legend__Item {
    padding: $spacing;
    border-bottom: 1px solid $dark-border-color;
    border-right: 1px solid $dark-border-color;
    strong {
        text-transform: uppercase;
    }
}
