/*

Block

*/
.Quadrants__Block__Content {
    @include small {
    }
    @include medium-large {
        display: flex;
    }
}
.Quadrants__Block__Chart {
    @include small {
    }
    @include medium-large {
        flex: 0 0 60%;
    }
}

/*

Chart

*/
.Quadrants__Chart {
    svg {
        display: block;
        margin-top: -20px;
    }
}
.Quadrants__Chart__QuadrantLabel {
    font-size: $large-font;
    // @include font-bold;
    letter-spacing: 4px;
    @include font-regular;
    text-transform: uppercase;
}
.Quadrants__Chart__TickLabel {
    font-size: $smaller-font;
}
.Quadrants__Chart__Legend {
    margin-top: 40px;
    text-transform: uppercase;
}
.Quadrants__Chart__Legend__Title {
    text-align: center;
    display: none;
}
.Quadrants__Chart__Legend__Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    font-size: $small-font;
    border-top: 1px solid $dark-border-color;
    border-left: 1px solid $dark-border-color;
}

.Quadrants__Chart__Legend__Item {
    padding: $spacing;
    border-bottom: 1px solid $dark-border-color;
    border-right: 1px solid $dark-border-color;
    strong {
        text-transform: uppercase;
    }
}

/*

Circular Node (not used)

*/

.Quadrants__Chart__Value {
    letter-spacing: 0.2em;
}
.Quadrants__Chart__Label {
    font-size: $small-font;
    @include font-regular;
}

/*

Symbol Node

*/

.Quadrants__Chart {
    .PeriodicTableElement_Frame {
        stroke: $white;
    }
}
.Quadrants__Chart__PeriodicTableElement {
    &--collision {
        overflow: visible !important;
        .PeriodicTableElement_Container {
            transition: all 500ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
            &:hover {
                transform: translateX(var(--dx)) translateY(var(--dy));
            }
        }
    }
}
