.share-wrapper {
    position: relative;
}
.share {
    @include flex-center;
}
.share-button {
    padding: 3px 7px;
    font-size: $smaller-font;
    color: $darker-text-color;
    border-color: $darker-text-color;
}
.share-popup {
    pointer-events: none;
    position: absolute;
    left: 0%;
    bottom: 3px;
}

.share__link {
    transition: all 500ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
    transform: scale(0.8);
    opacity: 0;
    .share-popup-visible & {
        opacity: 1;
        pointer-events: auto;
        @include small{
            &.share__link--twitter {
                transform: translateX(-580%) scale(1);
            }
            &.share__link--facebook {
                transform: translateX(-480%) scale(1);
            }
            &.share__link--email {
                transform: translateX(-360%) scale(1);
            }

        }
        @include medium-large{
        &.share__link--twitter {
            transform: translateX(280%) scale(1);
        }
        &.share__link--facebook {
            transform: translateX(320%) scale(1);
        }
        &.share__link--email {
            transform: translateX(390%) scale(1);
        }
    }
    }
}

.share-options {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    a {
        display: block;
        height: 24px;
        width: 24px;
        flex-shrink: 0;
        &:last-child {
            margin-right: 0;
        }
        svg {
            height: 100%;
            width: 100%;
            path {
                fill: $beige;
            }
        }
        @include segmented;
        &:hover {
            svg path {
                fill: $hover-color;
                // animation-name: blink2;
                // animation-duration: 300ms;
                // animation-iteration-count: infinite;
                // animation-timing-function: linear;
            }
        }
    }
}

.home .share-options {
    max-width: 300px;
    a {
        @include small {
            height: 40px;
            width: 40px;
            padding: 10px;
        }
        @include medium-large {
            height: 60px;
            width: 60px;
            padding: 15px;
        }
    }
}
