.ToolHeader {
    display: flex;
    margin-bottom: $spacing * 2;
    .PeriodicTableElementHtml {
        width: 100%;
    }
}
.ToolHeader__Element {
    margin-right: $spacing;
    flex-shrink: 1;
    flex-basis: 120px;
}
.SectionHeader {
    margin-bottom: $spacing * 2;
}

.ToolHeader_Header,
.SectionHeader__Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing * 0.5;
}

.ToolHeader_Title,
.SectionHeader__Title {
    margin: 0;
    padding: 0;
    align-items: baseline;
    line-height: 1;
    @include small {
        font-size: 1.5rem;
    }
    @include medium-large {
        font-size: 2rem;
    }
}

.ToolHeader__Content {
    flex: 1;
}

.ToolHeader__Links {
    display: flex;
    align-items: center;
    margin-top: $spacing/2;
}
.ToolHeader__Link {
    margin-right: $spacing/2;
}
