.ToolHeader {
    @include medium-large{
        display: flex;
    }
    margin-bottom: $spacing * 2;
    .PeriodicTableElementHtml {
        width: 100%;
    }
}
.ToolHeader__Element {
    svg{
        display: block;
    }
    @include small{
        margin-bottom: $spacing/4;
        
    }

    @include medium-large{
        flex-shrink: 1;
        flex-basis: 120px;
        margin-right: $spacing;
    }
}
.SectionHeader {
    margin-bottom: $spacing * 2;
}

.ToolHeader__Header,
.SectionHeader__Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing * 0.5;
}

.ToolHeader__Title,
.SectionHeader__Title {
    margin: 0;
    padding: 0;
    align-items: baseline;
    // line-height: 1;
    @include small {
        font-size: 1.3rem;
    }
    @include medium{
        font-size: 1.5rem;
    }
    @include large {
        font-size: 2rem;
    }
}
.ToolHeader__Title{
    @include small{
        display: none;
    }
}
.ToolHeader__Content {
    flex: 1;
}

.ToolHeader__Links {
    display: flex;
    align-items: center;
    margin-top: $spacing/2;
}
.ToolHeader__Link {
    margin-right: $spacing/2;
}

.ToolHeader__Stars{
    @include small-medium{
        display: none;
    }
}