.button{
  background: none;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: $vmargin/2 $hmargin;
  cursor: pointer;
  display: block;
  color: $blue;
  text-align: center;
  @include secondary-font;
  @include small{
    font-size: $small-font;
  }
  @include medium-large{
    font-size: $medium-font;
  }
  white-space: nowrap;
  &:hover{
    background: $pink;
    border-color: $pink;
    color: white;
  }
  &.large-button{
    padding: $vmargin $hmargin;
    font-size: $large-font;
  }
}