.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}
.recharts-wrapper {
}
.recharts-default-legend {
  font-size: $small-font;
  .recharts-legend-item{
    width: 100%;
  }
  .recharts-legend-item-text {
  }
}

.recharts-cartesian-axis-label{
  .label{
    @include secondary-font;
    fill: white;
    font-size: 16px;
    text-shadow: 0px 3px 3px black(0.25);
  }
}

.filter{
  font-size: $small-font;
  @include flex-center;
  justify-content: center;
}
.filter-heading{
  margin-right: $hmargin/2;
}
.filter ul {
  list-style: none;
  cursor: pointer;
}

.filter-options{
  border: 1px solid $border-color;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  li{
    padding: 10px;
    border-right: 1px solid $border-color;
    &:last-child{
      border-right: none;
    }
  }
}

.use-again, .not-use-again, .want-to-learn, .not-interested, .never-heard {
  text.label {
    display: none;
  }
}
div.all{
  text.label{
    display: block;
  }
}
div.interest {
  li.interest {
    color: white;
    background-color: $interest-dark;
  }
  .want-to-learn, .not-interested {
    text.label {
      display: block;
    }
  }
}
div.satisfaction {
  li.satisfaction {
    color: white;
    background-color: $satisfaction-dark;
  }
  .use-again, .not-use-again {
    text.label {
      display: block;
    }
  }
}
