
.chart-wrapper{
  @include small{

    overflow-x: scroll;
    overflow-y: hidden;

    padding: 0 $hmargin;

    // optional - enable iOS momentum scrolling
    -webkit-overflow-scrolling: touch;
    
    // scrolling shadows
    background: radial-gradient(ellipse at left, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
                radial-gradient(ellipse at right, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
  }
}

.recharts-surface{
  overflow: visible !important;
}
.chart-block-title{
  margin-top: 0;
}
.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}
.recharts-wrapper {
}
.recharts-default-legend {
  font-size: $small-font;
  display: flex;
  flex-direction: column-reverse;
  .recharts-legend-item{
    width: 100%;
  }
  .recharts-legend-item-text {
  }
  .recharts-surface{
    // border: 1px solid $border-color;
  }
}

.recharts-cartesian-axis-label, .recharts-bar-labels{
  .label{
    @include secondary-font;
    // fill: white;
    fill: $darkgrey;
    font-size: $small-font;
    // text-shadow: 0px 3px 3px black(0.25);
  }
}

.filters{
  @include secondary-font;
  @include large{
    @include flex-center;
  }
  margin-bottom: $vmargin;
  .stacked-chart &{
    margin: 0;
  }
}
.filter{
  font-size: $small-font;
  @include flex-center;
  justify-content: center;
  @include small{
    flex-direction: column;
  }
  @include small-medium{
    margin-bottom: $vmargin/2;
  }
  @include large{
    margin-right: $hmargin;
  }
  &:last-child{
    margin-right: 0;
  }
}
.filter-heading{
  @include small{
    margin-bottom: $vmargin/4;
  }
  @include medium-large{
    margin-right: $hmargin/2;
  }
}
.filter ul {
  list-style: none;
  cursor: pointer;
}

.filter-options{
  border: 1px solid $border-color;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  li{
    padding: $vmargin/4 $hmargin/2;
    border-right: 1px solid $border-color;
    &:first-child{
      border-radius: 3px 0 0 3px;
    }
    &:last-child{
      border-radius: 0 3px 3px 0;
      border: none;
    }

    .percent &.percent{
      background: $grey;
    }
    .numbers &.numbers{
      background: $grey;
    }
  }
}

.use-again, .not-use-again, .want-to-learn, .not-interested, .never-heard {
  .recharts-cartesian-bar-label {
    display: none;
  }
}
div.all{
  li.all{
    background: $grey;
  }
  .recharts-cartesian-bar-label{
    display: block;
  }
}
div.interest {
  li.interest {
    color: white;
    background-color: $interest-dark;
  }
  .want-to-learn, .not-interested {
    .recharts-cartesian-bar-label {
      display: block;
    }
  }
}
div.satisfaction {
  li.satisfaction {
    color: white;
    background-color: $satisfaction-dark;
  }
  .use-again, .not-use-again {
    .recharts-cartesian-bar-label {
      display: block;
    }
  }
}

.recharts-cartesian-axis-tick{
  font-size: 13px;
}
.tick-highlighted{
  font-weight: $bold;
  fill: $blue;
}


.chart-block-note{
  font-size: $small-font;
  font-style: italic;
  margin: 0;
  .section-layout-b &{
    @include large{
      padding: 0 $hmargin*6;
    }
  }
}

.legend{
  list-style: none;
  padding: 0;
  margin: $vmargin/2 0 $vmargin 0;
  font-size: $small-font;
  display: flex;
  li{
    flex: 1;
    margin-right: $hmargin/2;
    &:last-child{
      margin-right: 0;
    }
  }
}
.legend-key{
  display: inline-block;
  height: 10px;
  width: 12px;
  margin-right: 5px;
}
.legend-label{

}

.svg-block{
  margin-bottom: $vmargin*2;
  .recharts-wrapper>svg{
    border: 1px solid $border-color;
  }
}