.chart-block-title{
  margin-top: 0;
}
.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}
.recharts-wrapper {
}
.recharts-default-legend {
  font-size: $small-font;
  .recharts-legend-item{
    width: 100%;
  }
  .recharts-legend-item-text {
  }
}

.recharts-cartesian-axis-label{
  .label{
    @include secondary-font;
    // fill: white;
    fill: $darkgrey;
    font-size: 16px;
    // text-shadow: 0px 3px 3px black(0.25);
  }
}

.filters{
  @include flex-center;
  justify-content: center;
}
.filter{
  font-size: $small-font;
  @include flex-center;
  justify-content: center;
  margin-right: $hmargin*2;
  &:last-child{
    margin-right: 0;
  }
}
.filter-heading{
  margin-right: $hmargin/2;
}
.filter ul {
  list-style: none;
  cursor: pointer;
}

.filter-options{
  border: 1px solid $border-color;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  li{
    padding: 10px;
    border-right: 1px solid $border-color;
    &:first-child{
      border-radius: 3px 0 0 3px;
    }
    &:last-child{
      border-radius: 0 3px 3px 0;
      border-right: none;
    }
    .percent &.percent{
      background: $grey;
    }
    .numbers &.numbers{
      background: $grey;
    }
  }
}

.use-again, .not-use-again, .want-to-learn, .not-interested, .never-heard {
  .recharts-cartesian-axis-label {
    display: none;
  }
}
div.all{
  li.all{
    background: $grey;
  }
  .recharts-cartesian-axis-label{
    display: block;
  }
}
div.interest {
  li.interest {
    color: white;
    background-color: $interest-dark;
  }
  .want-to-learn, .not-interested {
    .recharts-cartesian-axis-label {
      display: block;
    }
  }
}
div.satisfaction {
  li.satisfaction {
    color: white;
    background-color: $satisfaction-dark;
  }
  .use-again, .not-use-again {
    .recharts-cartesian-axis-label {
      display: block;
    }
  }
}

.recharts-cartesian-axis-tick{
  font-size: 13px;
}

.heatmap-table{
  font-size: 13px;
  tr{
    &:hover{
      background: $grey;
    }
  }
  td{
    text-align: center;
    width: 60px;
    height: 60px;
    span{
      opacity: 0.5;
    }
  }
}