$blue: #49B7BE;
$blue2: #49B7BE; // mobile
$blue-faded: #b3d8da;

$darkblue: #2e3092;

$pink: #ed387a;
$pink-faded: #e0a4bc;

$red: #E60932;

$white: white;

$grey: #e8e8e8;
$grey2: #dadada;
$grey3: #cecece;
$mediumgrey: #788080;
$darkgrey: #344c4c;
$beige: #fffef0;

$interest-dark: $blue;
$interest-light: $blue-faded;
$satisfaction-dark: $pink;
$satisfaction-light: $pink-faded;
$never-heard: $grey;

$text-color: $darkgrey;
$lighter-text-color: $mediumgrey;
$border-color: $mediumgrey;
$bg-color: $beige;