html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: $bg-color;
  color: $text-color;
  padding: 0;
  @include primary-font;
  @include small{
    font-size: 16px;
    line-height: 1.5;
  }
  @include large{
    font-size: 20px;
    line-height: 1.6;
    border: 10px solid rgba($blue, 0.6);
    padding: 1px;
    min-height: 100vh;
  }
}
.outer-wrapper{
  @include small{
    padding: $vmargin;
  }
  @include large{
    padding: $vmargin*3;
    border: 10px solid rgba($blue, 0.6);
    min-height: calc(100vh - 22px);
  }
}

h1, h2, h3, h4, h5, h6{
  @include secondary-font;
}

a{
  text-decoration: none;
  &, &:link, &:visited, &:active, &:focus{
    color: $blue;
  }
  &:hover{
    color: $pink;
  }
}
