html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: $bg-color;
  color: $text-color;
  padding: 0;
  font-feature-settings: "liga" 0;
  @include primary-font;
  @include small{
    font-size: $root-size-mobile;
  }
  @include large{
    font-size: $root-size;
    border: 10px solid rgba($blue, 0.6);
    padding: 1px;
    min-height: 100vh;
  }
}


h1, h2, h3, h4, h5, h6{
  @include secondary-font;
  margin: 0 0 $vmargin 0;
}

p, ul, ol{
  margin: 0 0 $vmargin 0;
  @include small{
    line-height: 1.6;
  }
  @include medium-large{
    line-height: 1.8;
  }
}

a{
  text-decoration: none;
  &, &:link, &:visited, &:active, &:focus{
    @include small{
      color: $blue2;
    }
    @include medium-large{
      color: $blue;
    }
  }
  &:hover{
    color: $pink;
  }
}
