
.content{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.logo{
  max-width: 800px;
  @include large{
    margin: 0 -35px $vmargin*1.5 -35px;
  }
  img{
    display: block;
    width: 100%;
    margin: 0;
  }
}

.bubbles{
  display: flex;
  flex-direction: column;
  margin-bottom: $vmargin*1.5;
}
.bubble{
   @include small{
    font-size: 5.5vw;
  }
  @media screen and (min-width: 900px){
    width: 500px;
    height: 68px;
    font-size: 2rem;
  }
  line-height: 1;
  position: relative;
  margin: 0;
  white-space: nowrap;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  img{
    margin: 0;
    display: block;
    width: 100%;
  }
  span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    @include small{
      margin-top: -2px;
    }
    @include large{
      margin-top: -5px;
    }
  }
  &.bubble-great{
    @media screen and (min-width: 900px){
      left: -$hmargin*6;
      align-self: flex-start;
      span{
        margin-left: 5px;   
      }
    }
    color: $blue;
    margin-bottom: $vmargin*1.5;
  }
  &.bubble-mess{
    @media screen and (min-width: 900px){
      right: -$hmargin*6;
      align-self: flex-end;
      span{
        margin-left: -5px;
      }
    }
    color: $pink; 
  }
}

.intro{
  letter-spacing: -0.5px;
  p:first-child{
    @include large{
      font-size: 1.4rem;
    }
  }
  h4{
    padding: 10px;
    background: $grey;
  }
}

.take-survey{
  display: flex;
  justify-content: center;
  margin-bottom: $vmargin*1.5;
  .take-survey-button{
    @include secondary-font;
    background: $pink;
    border-radius: 10px;
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    font-size: 1.3rem;
    white-space: nowrap;
    &:hover{
      background: $blue;
    }
  }
}

.section-block{
  margin-bottom: $vmargin*3;
  h3{
    text-align: center;
  }
}
.section-border{
  border: 4px solid $blue;
  padding: $vmargin*3 $hmargin*2;
  position: relative;
  h3{
    margin: 0;
    display: table;
    max-width: 90%;
    background: $beige;
    padding: 0 20px;
    position: absolute;
    line-height: 1.4;
    top: -3px;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}

.newsletter{
  form{
    display: flex;
    margin: 0;
  }
  .email{
    display: block;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid $blue;
    margin-right: $hmargin/2;
    flex-grow: 1;
    width: 100%;
    &:focus{
      outline: none;
      border-color: $pink;
    }
  }
  .button{
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    background: $blue;
    border: none;
    color: white;
    @include secondary-font;
    cursor: pointer;
    &:hover{
      background: $pink;
    }
  }
}

.footer{
  border-top: 1px solid $blue;
  padding-top: $vmargin*3;
  font-size: 0.8rem;
  text-align: center;
}