
.results-container{
  margin: $vmargin*3 0;
}

.section{
  @include large{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  margin-bottom: 200px;
  // background: rgba(0,0,0,0.1);
}
.section-contents{
  @include large{
    width: 40%;
  }
}
.sticky-container{
  @include large{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 55%;
    .sticky{
      // padding: $vmargin*2 0;
    }
  }
}
.chart{
  h2{
    margin-top: 0;
  }
}