
.outer-wrapper{
  @include small-medium{
    padding: $vmargin $hmargin;
  }
  @include large{
    padding: $vmargin*3 $vmargin*6;
    border: 10px solid rgba($blue, 0.6);
    min-height: calc(100vh - 22px);
  }
}

.page-title{
  margin: 0 0 $vmargin*3 0;
  // box-shadow: 10px 10px 0 0 $grey;
  position: relative;
  border: 1px solid $border-color;
  .inner{
    padding: $vmargin $hmargin;
    background: $beige;
    display: block;
    z-index: 10;
    position: relative;
    @include large{
      @include flex-center;
      justify-content: space-between;
    }
  }
  &:before{
    z-index: 1;
    content: " ";
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    height: 100%;
    width: 100%;
    // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALUlEQVQYV2OsaGj439HQwMgABSA+nAMSAwmAaBQVIAGQLrAgTAXMGEZ0AZAiAJnTFPTxZT3RAAAAAElFTkSuQmCC);
    // background: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1"><defs><pattern id="Pattern2" width="0.1" height="0.1"><path d="M 0,10 l 10,-10 M -2.5,2.5 l 5,-5 M 7.5,12.5 l 5,-5" stroke-width="2" shape-rendering="auto" stroke="#788080" stroke-linecap="square" /></pattern></defs><rect fill="url(#Pattern2)" x="0" y="0" width="100" height="100"/></svg>');
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1"><defs><pattern id="Pattern2" patternUnits="userSpaceOnUse" width="5" height="5"><path d="M 0,5 l 5,-5 M -1,1 l 2.5,-2.5 M 4,6 l 2.5,-2.5" stroke-width="1" shape-rendering="auto" stroke="#788080" stroke-linecap="square"></path></pattern></defs><rect fill="url(#Pattern2)" x="0" y="0" width="100" height="100"/></svg>');
  }
  h1{
    font-size: $largest-font;
    text-align: center;
    margin: 0;
    line-height: 1;
    @include small-medium{
      margin-bottom: $vmargin/2;
    }
    @include large{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .spacer{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    /* shorthand would be: flex: 1 1 250px; */
    visibility: hidden;
  }
}

.section{
  @include small{
    margin-bottom: $vmargin*2;
  }
  @include medium{
    margin-bottom: $vmargin*4;
  }
  @include large{
    margin-bottom: $vmargin*6;
  }
  .section-inner{
    @include large{
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
  }
  .section-title{
    font-size: $large-font;
    border-bottom: 1px solid $border-color;
    padding-bottom: 3px;
    margin: 0 0 $vmargin*2 0;
    span{
      display: block;
      padding-bottom: $vmargin/2;
      border-bottom: 1px solid $border-color;
    }
  }
  // background: rgba(0,0,0,0.1);
}
.section-layout-b{
  display: block;
}
.section-contents{
  @include large{
    width: 40%;
  }
}
.section-contents-wide{
  @include large{
    padding: 0 $hmargin*6;
  }
}
.sticky-container{
  @include small-medium{
    margin-bottom: $vmargin;
  }
  @include large{
    width: 55%;
    margin-right: 5%;
    .sticky{
      // padding: $vmargin*2 0;
    }
  }
}
.chart{
  h2{
    margin-top: 0;
  }
}