
.outer-wrapper{
  @include small-medium{
    padding: $vmargin $hmargin;
  }
  @include large{
    padding: $vmargin*1.5 $vmargin*6 $vmargin*3 $vmargin*6;
    border: 10px solid rgba($blue, 0.6);
    min-height: calc(100vh - 22px);
  }
}

.section{
  @include small{
    margin-bottom: $vmargin*2;
  }
  @include medium{
    margin-bottom: $vmargin*4;
  }
  @include large{
    margin-bottom: $vmargin*4;
  }
  .section-inner{
    @include large{
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
  }
  .section-title{
    font-size: $large-font;
    border-bottom: 1px solid $border-color;
    padding-bottom: 3px;
    margin: 0 0 $vmargin*2 0;
    span{
      display: block;
      padding-bottom: $vmargin/2;
      border-bottom: 1px solid $border-color;
    }
  }
  // background: rgba(0,0,0,0.1);
}
.section-layout-b{
  display: block;
  
  @include large{
    margin-left: $hmargin*9;
    margin-right: $hmargin*9;
  }
}
.section-contents{
  @include large{
    width: 40%;
  }
}
.section-narrow{
  @include large{
    margin-left: $hmargin*9;
    margin-right: $hmargin*9;
  }
}
.section-contents-wide{
  // @include large{
  //   padding: 0 $hmargin*9;
  // }

}
.sticky-container{
  @include small-medium{
    margin-bottom: $vmargin;
  }
  @include large{
    width: 55%;
    margin-right: 5%;
    .sticky{
      // padding: $vmargin*2 0;
    }
  }
}
.chart{
  h2{
    margin-top: 0;
  }
}


.section-block{
  margin-bottom: $vmargin*3;
  h3{
    text-align: center;
  }
}
.section-border{
  border: 1px solid $border-color;
  padding: $vmargin*2 $hmargin*2;
  position: relative;
  h3{
    margin: 0;
    display: table;
    max-width: 90%;
    background: $beige;
    padding: 0 20px;
    position: absolute;
    line-height: 1.4;
    top: -3px;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}