.pagination{
  @include large{
    display: flex;
    justify-content: space-between;
    margin-bottom: $vmargin*2;
  }
}
.pagination-link{
}
.pagination-previous{
  @include small-medium{
    text-align: center;
    margin-bottom: $vmargin/2;
  }
  @include large{
    text-align: left;
  }
}
.pagination-next{
  @include small-medium{
    text-align: center;
  }
  @include large{
    text-align: right;
  }
}