
.page-title{
  margin: 0 0 $vmargin*3 0;
  // box-shadow: 10px 10px 0 0 $grey;
  position: relative;
  border: 1px solid $border-color;
  .inner{
    @include small{
      padding: $vmargin $hmargin;
    }
    @include medium-large{
      padding: $vmargin*2 $hmargin*2;
    }
    background: $beige;
    display: block;
    z-index: 10;
    position: relative;
    @include large{
      @include flex-center;
      justify-content: space-between;
    }
  }
  @include crosshatchBg;
  .spacer{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    /* shorthand would be: flex: 1 1 250px; */
    visibility: hidden;
  }
}


.page-title-contents{
  text-align: center;
  margin: 0;
  line-height: 1;
  @include small-medium{
    margin-bottom: $vmargin/2;
  }
  @include large{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.page-title-main{
  padding-bottom: $vmargin/3;
  margin-bottom: $vmargin/3;
  border-bottom: 1px dashed $border-color;
  @include small-medium{
    font-size: $large-font;
  }
  @include large{
    font-size: $largest-font;
  }
}
.page-title-author{
  font-size: $medium-font;
  margin: 0;
  @include primary-font;
  font-weight: $medium;
  @include flex-center;
  img, span, a{
    display: block;
  }
  .by{
    font-style: italic;
    margin-right: 6px;
  }
}
.page-title-avatar{
  border-radius: 100%;
  height: 24px;
  width: 24px;
  margin-right: 6px;
}