$hmargin: 20px;
$vmargin: 20px;

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border{
  border: 1px solid $border-color;
}

@mixin clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function black($opacity){
  @return rgba(0,0,0,$opacity);
}

@function white($opacity){
  @return rgba(255,255,255,$opacity);
}