.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}
.recharts-wrapper {
  background-color: white;
}
.recharts-default-legend {
  line-height: 18px;
}
.recharts-legend-item-text {
  font-size: 10px;
}
