$interest-dark: #4cbcc1;
$interest-light: #b3d8da;
$satisfaction-dark: #e91467;
$satisfaction-light: #e0a4bc;
$never-heard: #e8e8e8;

.recharts-cartesian-axis-tick-value {
  font-size: 12px;
}
.recharts-wrapper {
  background-color: white;
}
.recharts-default-legend {
  line-height: 18px;
}
.recharts-legend-item-text {
  font-size: 9px;
}
.filter ul {
  list-style: none;
  cursor: pointer;
}
.use-again, .not-use-again, .want-to-learn, .not-interested, .never-heard {
  text.label {
    display: none;
  }
}
div.interest {
  li.interest {
    color: white;
    background-color: $interest-dark;
  }
  .want-to-learn, .not-interested {
    text.label {
      display: block;
    }
  }
}
div.satisfaction {
  li.satisfaction {
    color: white;
    background-color: $satisfaction-dark;
  }
  .use-again, .not-use-again {
    text.label {
      display: block;
    }
  }
}

.results-container{
}
.section{
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.section-contents{
  width: 35%;
}
.chart{
  position: absolute;
  left: 0;
  border: 1px solid #ddd;
  padding: 20px;
  width: 60%;
  margin-right: 5%;
}