$blue: #5ec6cc;
$pink: #ed387a;
$darkblue: #2e3092;
$grey: #344c4c;
$beige: #fffef0;
$text: $grey;
$bg: $beige;
$hmargin: 20px;
$vmargin: 20px;

@mixin primary-font{
  font-family: 'Work Sans', sans-serif;
}
@mixin secondary-font{
  font-family: 'Space Mono', monospace;
}

body{
  background: $beige;
  @include primary-font;
  font-size: 20px;
  line-height: 1.6;
  color: $text;
  border: 10px solid rgba($blue, 0.6);
  padding: 1px;
  min-height: 100vh;
}
.outer-wrapper{
  border: 10px solid rgba($blue, 0.6);
  padding: $vmargin*3;
  min-height: calc(100vh - 22px);
}

h1, h2, h3, h4, h5, h6{
  @include secondary-font;
}

a{
  text-decoration: none;
  &, &:link, &:visited, &:active, &:focus{
    color: $blue;
  }
  &:hover{
    color: $pink;
  }
}

.content{
  width: 600px;
  margin: 0 auto;
}

.logo{
  max-width: 800px;
  margin: 0 -35px $vmargin*1.5 -35px;
  img{
    display: block;
    width: 100%;
    margin: 0;
  }
}

.bubbles{
  display: flex;
  flex-direction: column;
  margin-bottom: $vmargin*1.5;
}
.bubble{
  width: 500px;
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1;
  position: relative;
  margin: 0;
  &.bubble-great{
    left: -$hmargin*6;
    background-image: url("images/left-speech-bubble.svg");
    background-position: top left;
    padding: 14px 10px 14px 25px;
    color: $blue;
    align-self: flex-start;
    margin-bottom: $vmargin*1.5;
  }
  &.bubble-mess{
    right: -$hmargin*6;
    background-image: url("images/right-speech-bubble.svg");
    background-position: top right;
    padding: 14px 25px 14px 10px;
    color: $pink; 
    align-self: flex-end;
  }
}

.intro{
  letter-spacing: -0.5px;
  p:first-child{
    font-size: 1.4rem;
  }
}

.take-survey{
  display: flex;
  justify-content: center;
  .take-survey-button{
    @include secondary-font;
    background: $pink;
    border-radius: 10px;
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    font-size: 1.3rem;
    white-space: nowrap;
    &:hover{
      background: $blue;
    }
  }
}

.section-block{
  margin-bottom: $vmargin*3;
  h3{
    text-align: center;
  }
}
.section-border{
  border: 4px solid $blue;
  padding: $vmargin*3 $hmargin*2;
  position: relative;
  h3{
    background: $beige;
    padding: 0 20px;
    position: absolute;
    line-height: 1;
    top: -3px;
    left: 50%;
    transform:translate(-50%, -50%);
    white-space: nowrap;
  }
}

.share-options{
  display: flex;
  align-items:center;
  justify-content: center;
  a{
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: $blue;
    padding: 15px;
    margin-right: $hmargin*3;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      background: $pink;
    }
    svg{
      height: 100%;
      width: 100%;
      path{
        fill: $beige;
      }
    }
  }
}

.newsletter{
  form{
    display: flex;
  }
  .email{
    display: block;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid $blue;
    margin-right: $hmargin/2;
    flex-grow: 1;
    &:focus{
      outline: none;
      border-color: $pink;
    }
  }
  .button{
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    background: $blue;
    border: none;
    color: white;
    @include secondary-font;
    cursor: pointer;
    &:hover{
      background: $pink;
    }
  }
}

.footer{
  border-top: 1px solid $blue;
  padding-top: $vmargin*3;
  font-size: 0.8rem;
  text-align: center;
}