$blue: #5ec6cc;
$pink: #ed387a;
$darkblue: #2e3092;
$grey: #344c4c;
$beige: #fffef0;
$text: $grey;
$bg: $beige;
$hmargin: 20px;
$vmargin: 20px;

$small-break:  600px;
$small-break-minus-one:  $small-break - 1;

@mixin primary-font{
  font-family: 'Work Sans', sans-serif;
}
@mixin secondary-font{
  font-family: 'Space Mono', monospace;
}

@mixin small(){
  @media screen and (max-width: $small-break-minus-one) {
    @content;
  }
}
@mixin large(){
  @media screen and (min-width: $small-break) {
    @content;
  }
}

body{
  background: $beige;
  color: $text;
  @include primary-font;
  @include small{
    font-size: 16px;
    line-height: 1.5;
  }
  @include large{
    font-size: 20px;
    line-height: 1.6;
    border: 10px solid rgba($blue, 0.6);
    padding: 1px;
    min-height: 100vh;
  }
}
.outer-wrapper{
  @include small{
    padding: $vmargin;
  }
  @include large{
    padding: $vmargin*3;
    border: 10px solid rgba($blue, 0.6);
    min-height: calc(100vh - 22px);
  }
}

h1, h2, h3, h4, h5, h6{
  @include secondary-font;
}

a{
  text-decoration: none;
  &, &:link, &:visited, &:active, &:focus{
    color: $blue;
  }
  &:hover{
    color: $pink;
  }
}

.content{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.logo{
  max-width: 800px;
  @include large{
    margin: 0 -35px $vmargin*1.5 -35px;
  }
  img{
    display: block;
    width: 100%;
    margin: 0;
  }
}

.bubbles{
  display: flex;
  flex-direction: column;
  margin-bottom: $vmargin*1.5;
}
.bubble{
   @include small{
    font-size: 5.5vw;
  }
  @media screen and (min-width: 900px){
    width: 500px;
    height: 68px;
    font-size: 1.6rem;
  }
  line-height: 1;
  position: relative;
  margin: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    margin: 0;
  }
  span{
    position: absolute;
    display: block;
    @include small{
      margin-top: -2px;
    }
    @include large{
      margin-top: -5px;
    }
  }
  &.bubble-great{
    @media screen and (min-width: 900px){
      left: -$hmargin*6;
      align-self: flex-start;
      span{
        margin-left: 5px;   
      }
    }
    color: $blue;
    margin-bottom: $vmargin*1.5;
  }
  &.bubble-mess{
    @media screen and (min-width: 900px){
      right: -$hmargin*6;
      align-self: flex-end;
      span{
        margin-left: -5px;
      }
    }
    color: $pink; 
  }
  // @include small{
  //   font-size: 1rem;
  // }
  // @include large{
  //   width: 500px;
  //   height: 68px;
  //   font-size: 1.8rem;
  // }
  // background-size: contain;
  // background-repeat: no-repeat;
  // text-align: center;
  // line-height: 1;
  // position: relative;
  // margin: 0;
  // white-space: nowrap;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // span{
  //   display: block;
  // }
  // &.bubble-great{
  //   @include large{
  //     left: -$hmargin*6;
  //     align-self: flex-start;
  //     padding: 14px 10px 14px 25px;
  //   }
  //   background-image: url("images/left-speech-bubble.svg");
  //   background-position: top left;
  //   color: $blue;
  //   margin-bottom: $vmargin*1.5;
  // }
  // &.bubble-mess{
  //   @include large{
  //     right: -$hmargin*6;
  //     align-self: flex-end;
  //     padding: 14px 25px 14px 10px;
  //   }
  //   background-image: url("images/right-speech-bubble.svg");
  //   background-position: top right;
  //   color: $pink; 
  // }
}

.intro{
  letter-spacing: -0.5px;
  p:first-child{
    @include large{
      font-size: 1.4rem;
    }
  }
}

.take-survey{
  display: flex;
  justify-content: center;
  margin-bottom: $vmargin*1.5;
  .take-survey-button{
    @include secondary-font;
    background: $pink;
    border-radius: 10px;
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    font-size: 1.3rem;
    white-space: nowrap;
    &:hover{
      background: $blue;
    }
  }
}

.section-block{
  margin-bottom: $vmargin*3;
  h3{
    text-align: center;
  }
}
.section-border{
  border: 4px solid $blue;
  padding: $vmargin*3 $hmargin*2;
  position: relative;
  h3{
    display: table;
    max-width: 90%;
    background: $beige;
    padding: 0 20px;
    position: absolute;
    line-height: 1;
    top: -3px;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}

.share-options{
  display: flex;
  align-items:center;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  a{
    display: block;
    @include small{
      height: 40px;
      width: 40px;
      padding: 10px;
    }
    @include large{
      height: 60px;
      width: 60px;
      padding: 15px;
    }
    border-radius: 100%;
    background: $blue;
    flex-shrink: 0;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      background: $pink;
    }
    svg{
      height: 100%;
      width: 100%;
      path{
        fill: $beige;
      }
    }
  }
}

.newsletter{
  form{
    display: flex;
    margin: 0;
  }
  .email{
    display: block;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid $blue;
    margin-right: $hmargin/2;
    flex-grow: 1;
    width: 100%;
    &:focus{
      outline: none;
      border-color: $pink;
    }
  }
  .button{
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    background: $blue;
    border: none;
    color: white;
    @include secondary-font;
    cursor: pointer;
    &:hover{
      background: $pink;
    }
  }
}

.footer{
  border-top: 1px solid $blue;
  padding-top: $vmargin*3;
  font-size: 0.8rem;
  text-align: center;
}