$blue: #41c7c7;
$blue2: #49B7BE; // mobile
$blue-faded: #b3d8da;

$darkblue: #2e3092;

$pink: #ed387a;
$pink-faded: #e0a4bc;

$red: #FE6A6A;

$white: white;

$yellow: #fbf34c;
$yellow-faded: #fffec7;

$purple: #4500EE;
$purple-faded: #7D7494;

$grey: #e8e8e8;
$grey2: #dadada;
$grey3: #cecece;
$mediumgrey: #788080;
$darkgrey: #344c4c;
$beige: #fffef0;

$interest-dark: $blue;
$interest-light: $blue-faded;
$satisfaction-dark: $pink;
$satisfaction-light: $pink-faded;
$never-heard: $grey;

$interest-dark: $yellow;
$interest-light: $yellow-faded;
$satisfaction-dark: $purple;
$satisfaction-light: $purple-faded;
$never-heard: $grey;

$active-color: $blue;
$secondary-color: $red;
$hover-color: $red;
$text-color: $grey;
$lighter-text-color: $mediumgrey;
$light-border-color: $grey3;
$border-color: $white;
$bg-color: rgb(33, 36, 36);
$highlight-color: $yellow-faded;