
$tooltip-width: 240px;
$tooltipDisplay: none;

/*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*\
  Libraries
\*————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/

.others-wrapper{
    display: flex;
    .libraries{
    }
    .chart-wrapper{
        flex: 1;
    }
}

.libraries{

}
.libraries__inner{
    display: flex;
}
.libraries__item{
    position: relative;
}
.libraries__item__link{
    font-size: $smaller-font;
    display: block;
    &.libraries__item__link--enabled{
        @include medium-large{
            cursor: pointer;
            color: $active-color;
            @include font-bold;
        }
    }
}

.libraries--vertical{
    padding: 50px 0;
    display: flex;
    .libraries__inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .libraries__item__link{
        white-space: nowrap;
        text-align: right;
    }
    .library__tooltip{

    }
}
.libraries--horizontal{
    @include small{
        padding: 0 $spacing;
    }
    @include medium-large{
        padding: 0 $spacing*3;
    }
    margin-bottom: $spacing*2;
    .libraries__inner{
        align-items: center;
        justify-content: space-between;
    }
    .libraries__item{
        flex: 1;
    }
    .libraries__item__link{
        text-align: center;
    }
}
.library__tooltip{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -$tooltip-width/2;
    width: $tooltip-width;
    z-index: 100;
    font-size: $small-font;
    display: $tooltipDisplay;
    .libraries__item:hover &{
        display: block;
        @include small{
            display: none;
        }
    }
    .toolip__topzone{
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -20px;
        height: 30px;
        width: 40px;
        z-index: 100;
    }
    .tooltip__inner{
        border-radius: 3px;
        border: 1px solid $border-color;
        padding: $spacing;
        background: $white;
        position: relative;

        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 10px;
            margin-left: -10px;
        }
        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: $border-color;
            border-width: 11px;
            margin-left: -11px;
        }
    }
    h3{
        font-size: $medium-font;
        border-bottom: 1px dashed $border-color;
        padding-bottom: $spacing/2;
        margin-bottom: $spacing/2;
        @include flex-center;
        justify-content: space-between;
        .tooltip__title__stars{
            @include flex-center;
            font-size: $smaller-font;
            color: $active-color;
            @include font-regular;
            path{
                fill: $active-color;
            }
        }
    }
    p{
        margin-bottom: $spacing/2;
    }
    h4{
        margin-bottom: $spacing/4;
    }
    ul{
        padding: 0 0 0 $spacing;
        margin: 0;
    }
}