/*****************************************************************************\
  base colors
\*****************************************************************************/
$grey: #d9dedf;
$grey-light: #e0e4e4;

$blue: #3c52d1;
$blue-dark: #273aa2;

$teal: #9ac6c9;
$pink: #ec2f95;

$darkgrey: #445a5a;

/*****************************************************************************\
  "functional" colors
\*****************************************************************************/
$bg-color: $grey-light;
$bg-color-light: $grey-light;

$border-color: $teal;
$hover-color: $pink;

/*****************************************************************************\
  OLD colors
  from StateOfJs 2018
\*****************************************************************************/
$blueLight: #8be7e7;
$blue2: #49b7be; // mobile
$blue-faded: #b3d8da;


$pink-faded: #e0a4bc;

$red: #fe6a6a;
$redLight: #f89f9f;
$redDark: #ca4040;

$white: white;

$yellow: #fbf34c;
$yellow-faded: #fffec7;

$purple: #4500ee;
$purple-faded: #7d7494;

$grey2: #dadada;
$grey3: #cecece;
$mediumgrey: #788080;
$beige: #fffef0;

$interest-dark: $blue;
$interest-light: $blue-faded;
$satisfaction-dark: $pink;
$satisfaction-light: $pink-faded;
$never-heard: $grey;

$interest-dark: $yellow;
$interest-light: $yellow-faded;
$satisfaction-dark: $purple;
$satisfaction-light: $purple-faded;
$never-heard: $grey;

$active-color: $blue;
$secondary-color: $red;
$text-color: $darkgrey;
$text-color-dark: #8c8c8c;
$text-color-inverted: $bg-color-light;
$darker-text-color: $mediumgrey;
$lighter-text-color: $mediumgrey;
$light-border-color: $grey3;
$dark-border-color: rgba(255, 255, 255, 0.2);
$dark-border-color: #4d4f4f;
$highlight-color: $yellow-faded;
