.FTBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing * 2;
    grid-row-gap: $spacing;
}

.FTBlock__Chart {
    grid-column: 1 / 3;
}
.Feature__Support {
    font-size: $smallish-font;
    @include font-regular;
}

.Feature__Links {
    font-size: $smallish-font;
    @include font-regular;
}

.Feature__Links__Item {
    display: block;
}

.Feature__Links__Item:first-child {
    margin-top: $spacing * 0.5;
}

.Features__Overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Features__Overview__Item {
    width: 240px;
    height: 260px;
    margin-bottom: $spacing * 2;
    display: grid;
    grid-template-rows: 210px 50px;
}

.Features__Overview__Item__Footer {
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    font-size: $smallish-font;
    @include font-bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Features__Overview__Item__Footer:hover {
    background: $border-color;
    color: #ffffff;
    cursor: pointer;
}
