.Logo {
    font-weight: 800;
    // padding: 20px;
    font-size: 1.4rem;
    line-height: 1.7rem;
    display: block;
    border: $border;
    border-left: 0;
    svg {
        display: block;
    }
}
.Logo__Wrapper {
    margin: 0;
}
.Logo--desktop {
    @include small-medium {
        display: none;
    }
}
.Logo--mobile {
    @include large {
        display: none;
    }
}
