.PageLayout--sidebar {
    overflow: hidden;
    height: 100vh;
}

.Sidebar {
    border-right: $border;
    border-bottom: $border;
    @include small-medium {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $bg-color;
        z-index: 1000;
        text-align: center;
        overflow-y: scroll;
        padding: 0 0 $spacing * 2 0;
        &.Sidebar--hidden {
            display: none;
        }
        &.Sidebar--shown {
            overflow: hidden;
            overflow-y: scroll;
            position: fixed;
        }
    }
}

.Sidebar__Fixed {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    @include small-medium {
        width: 100%;
    }
    @include large {
        width: $sidebar_width;
    }
}

.Sidebar__Inner {
    padding: $spacing * 1.5;
    overflow-y: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include small {
        padding-bottom: $spacing * 4;
    }
}

.Sidebar__Close {
    margin: 0;
    padding: 0;
    border: 1px solid $border-color;
    border-right: none;
    button {
        background: none;
        cursor: pointer;
        border: none;
    }
    @include flex-center;
    width: 100%;
    @include large {
        display: none;
    }
    svg {
        stroke: $active-color;
    }
}

.Nav__Page__Link {
    display: block;
    white-space: nowrap;
    font-size: $medium-font;
    margin: 0 0 $spacing / 3;
}

.Nav__Page--lvl-1,
.Nav__Page--lvl-2 {
    .Nav__Page__Link {
        font-size: $smallish-font;
        @include font-regular;
        &,
        &:link,
        &:visited {
            color: $text-color;
        }
    }
}

.Nav__Page__Link--active {
    @include font-bold;
}

.Nav__Page__Link--lvl-1 {
    &:after {
        content: ' {…}';
    }
}

.Nav__Page__Link--lvl-1.Nav__Page__Link--active {
    &:after {
        content: ' {';
    }
}

.Nav__SubPages {
    padding-left: $spacing;
    margin-top: $spacing * 0.5;
}

.Nav__SubPages--lvl-1 {
    padding-left: $spacing;
    margin-bottom: $spacing * 0.5;
}

.Nav__SubPages--lvl-1:after {
    content: '}';
    margin-left: $spacing * -1;
    font-size: $smallish-font;
    @include font-bold;
}

.Logo__Wrapper {
    margin: 0;
}
