.ToolHeader {
    @include medium-large {
        display: flex;
    }
    .PeriodicTableElementHtml {
        width: 100%;
    }
}
.ToolHeader__Element {
    svg {
        display: block;
    }
    @include small {
        max-width: 150px;
        margin: 0 auto $spacing/4 auto;
    }

    @include medium-large {
        flex-shrink: 1;
        flex-basis: 120px;
        margin-right: $spacing;
    }
}

.Page__Title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    @include small {
        font-size: 1.3rem;
    }
    @include medium {
        font-size: 1.5rem;
    }
    @include large {
        font-size: 2rem;
    }
}

.Page__Intro {
    margin: 0;
    margin: $spacing * 0.5 0 $spacing * 2;
}

.Page__Intro p {
    margin: 0 0 $spacing;
}
