$root-size-mobile: 13px;
$root-size: 17px;

$smaller-font: 0.7rem;
$small-font: 0.8rem;
$smallish-font: 0.9rem;
$medium-font: 1rem;
$large-font: 1.1rem;
$larger-font: 1.3rem;
$largest-font: 1.5rem;

$light: 300; // not used currently
$medium: 400;
$bold: 800;

@mixin font-light {
    font-weight: $light;
}

@mixin font-regular {
    font-weight: $medium;
}

@mixin font-bold {
    font-weight: $bold;
}

@mixin primary-font {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: $medium;
}
@mixin secondary-font {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: $bold;
}

pre,
code {
    @include secondary-font;
}

strong {
    font-weight: $bold;
}
