.Filters {
    display: inline-flex;
    border: 1px solid #777;
    height: 32px;
    border-radius: 1px;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1em;
}

.Filters__item {
    white-space: pre;
    line-height: 30px;
    flex: 1;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #777;
    padding: 0 15px;
}

.Filters__item:first-child {
    border-left-width: 0;
}

.Filters__item--active {
    background: #f9fbf9;
    color: #1f2d2e;
}

.Filters--experience .Filters__item--active:nth-child(2) {
    background: #feffdb;
}
.Filters--experience .Filters__item--active:nth-child(3) {
    background: #e3e3ff;
}
